<!doctype html>
<html lang="en">
    <head>
        <title>Libros Casanova</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

       <!-- Bootstrap CSS v5.2.1 -->
       <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    </head>

    <body>

        <nav class="navbar navbar-expand navbar-light bg-info">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link active" href="/admin/">Inicio del Administrador</a>
                <a class="nav-item nav-link" href="libros">Menú</a>
                <a class="nav-item nav-link" href="cerrar">Cerrar</a>
                <a class="nav-item nav-link" href="/">Volver al sitio web</a>

            </div>
        </nav>